html, body {
margin: 1em;
height: 100%;
font-size: 100%;
}
* {
font-family: Verdana, Arial, Helvetica, sans-serif;
}
/*-----------------------------------------------------------*/
table.first {
border-collapse: separate;
border: 2px solid black;
}
table.first th, table.first td {
border: 2px solid blue;
}
table.first tr:nth-child(odd) {
background-color: lightblue;
}
/*-----------------------------------------------------------*/
table.second {
border-collapse: collapse;
border: 2px solid purple;
caption-side: bottom;
}
table.second th {
background-color: salmon;
}
table.second th, table.second td {
padding: 0.7em;
vertical-align: middle;
border: 2px solid purple;
}
table.second thead tr:first-child{
border-bottom: 2px solid purple;
}
/*-----------------------------------------------------------*/
table.third {
    width: 100%;
    margin: 20px 0;
    background-color: #90EE90;
    border-collapse: collapse;
    border: 2px solid #333;
}
table.third caption {
    font-weight: bold;
    font-size: 1.1em;
    padding: 10px;
    background-color: #90EE90;
    text-align: left;
}
table.third th {
    background-color: #90EE90;
    border: 1px solid #333;
    padding: 10px;
    font-weight: bold;
}
table.third td {
    border: 1px solid #333;
    padding: 10px;
}
@media only screen and (max-width: 425px) {
th, td {
display: block;
}
thead, td.number {
display: none;
padding: 0;
}
}