body {
  font-family: Arial, sans-serif;
  margin: 15px auto;
  background: url("../images/SH_orange.png");
  background-repeat: repeat-y;
  background-position: right;
  background-attachment: fixed;
  width: 95%;
}
img {
  float: left;
  width: 150px;
  margin: 10px 15px 10px 0;
  border: 1px solid #ccc;
}
aside {
  width: 20%;
  position: fixed;
  top: 160px;
  right: 10px;
  background-color: #cce0ff;
  border: 2px solid #004080;
  padding: 10px;
}
header {
  clear: both;
  border-bottom: 2px solid blue;
}
footer {
  clear: both;
  border-top: 2px solid blue;
}
h1, h2 {
  color: #003366;
}
p {
  line-height: 1.6;
}
article p::first-letter {
  font-weight: bold;
  font-size: 3em;
}
article{
  clear: left;
  width: 70%;
  float: left;
  column-count: 3;
  column-rule: 3px dotted blue;
  column-gap: 2em;
  margin-left: 2em;
}
footer p.copyright{
  text-align: center;
  font-size: 80%;
}
article{
 clear: both;
}
aside ol {
 list-style-type: upper-roman;
}
aside ul{
 list-style-type: lower-roman;
  padding-left: 20px;
}