body {
  font-family: Arial, sans-serif;
  margin: 15px auto;
  background: url("../images/SH_orange.png");
  background-repeat: repeat-y;
  background-position: right;
  background-attachment: fixed;
  width: 95%;
}